.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Align items vertically in the center */
  justify-content: center;
  gap: 1.5em;
}

.flex-container > img {
  width: 100%;
  max-width: fit-content;
}

.slide-progress {
  text-align: center;
  margin-bottom: 2em;
  color: #999;
  font-weight: 700;
}

h1.page-header {
  font-weight: 900;
  margin-bottom: 1.25em;
}
.navigation {
  padding: 1em 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
  justify-content: space-evenly;
}